/* CSS 초기화 */
@charset "UTF-8";
* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}
h1,h2,h3,h4,h5,h5 {
	font-size: 16px;
	font-weight: normal;
}
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	vertical-align: top;
}
#wrap {
	width: 1080px;
	margin: 0 auto;
	padding: 32px;
	text-align: center;
	font-size: 1.6rem;
}
#wrap h1 {
	margin-bottom: 32px;
	font-size: 3rem;
	font-weight: 500;
}
header>div {
	margin-bottom: 16px;
}

#wrap {
	position: relative;
}
#wrap>aside {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}